<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./tailwind.base.css">
  <script src="./vue.js"></script>
  <script src="./utils.js"></script>
  <style>
    tr:hover td, tr.hover td {
      background-color: rgb(227, 235, 247);
    }
    [data-col="索引"] {
      position: sticky;
      left: 0;
    }
    [data-col="股票代码"], [data-col="股票简称"] {
      position: sticky;
      left: 72px;
    }
    [data-col="股票简称"] {
      position: sticky;
      left: 185px;
    }
  </style>
</head>

<body class="h-full overflow-x-auto text-xs">
  <div id="app">
    <div class="fixed z-50 w-10 h-10 top-2 right-2 opacity-0 hover:opacity-90 text-red-600 cursor-pointer transition-all duration-300" @click="neat = !neat">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20"><g fill="none"><path d="M2 4.5A2.5 2.5 0 0 1 4.5 2h11A2.5 2.5 0 0 1 18 4.5v11a2.5 2.5 0 0 1-2.5 2.5h-11A2.5 2.5 0 0 1 2 15.5v-11zM4.5 3A1.5 1.5 0 0 0 3 4.5v11A1.5 1.5 0 0 0 4.5 17h11a1.5 1.5 0 0 0 1.5-1.5v-11A1.5 1.5 0 0 0 15.5 3h-11zm6.5 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2zm0-6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V6zm-6 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-2zm0-6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6z" fill="currentColor"></path></g></svg>
    </div>
    <div v-if="!neat" class="inline-flex" role="group">
      <select v-model="orderKind" class="select select-bordered w-full max-w-xs outline-none">
        <option v-for="order in Object.keys(kindOfOrders)" :value="order">{{order}}</option>
      </select>
      <input class="file-input file-input-ghost w-full max-w-xs" type="file" id="formFile" multiple
        @change="handleInputFile" />
    </div>
    <ul v-if="!neat" role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
      <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6" v-for="(file, i) in data"
        :key="file.name">
        <div class="flex w-0 flex-1 items-center">
          <input type="checkbox" value="" id="checkboxChecked" :checked="file.checked"
            @change="file.checked = !file.checked" />
          <div class="ml-4 flex min-w-0 flex-1 gap-2">
            <span class="truncate font-medium">{{file.name}}</span>
            <span class="flex-shrink-0 text-gray-400">{{file.size | convertRadix({ fixed: 2, base: 1024, units: ['B',
              'KB', 'MB'] })}}</span>
          </div>
        </div>
        <a href="#" class="ml-4 flex-shrink-0 only:font-medium text-indigo-600 hover:text-indigo-500"
          @click="() => data.splice(i, 1)">删除</a>
      </li>
    </ul>
    <div class="w-full">
      <table class="min-w-full border text-center dark:border-neutral-500 table-fixed" :data-hover-col="hover[0]"
        :data-hover-row="hover[1]">
        <thead class="border-b dark:border-neutral-500 sticky top-0 z-10 bg-gray-100">
          <tr>
            <th scope="col" class="border-r px-2 py-4 dark:border-neutral-500 whitespace-nowrap bg-gray-100" :title="col.index_name" :data-col="col.index_name"
              v-for="(col, colIndex) in realColumns" :key="col.key">
              <div class="flex justify-center">
                <div class="w-4 cursor-pointer"
                  :class="[sorts[0] === true && sorts[1] === col ? 'text-red-500' : 'text-gray-400']"
                  @click="sorts = sorts[0] === true && sorts[1] === col ? [] : [true, col]">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20"><g fill="none"><path d="M6.03 7.03a.75.75 0 0 1-1.06-1.06l4-4a.75.75 0 0 1 1.06 0l4 4a.75.75 0 0 1-1.06 1.06l-2.72-2.72v5.44c0 1.947.245 3.321.74 4.366c.486 1.026 1.243 1.8 2.396 2.49a.75.75 0 1 1-.772 1.287c-1.347-.808-2.34-1.785-2.98-3.134c-.63-1.33-.884-2.956-.884-5.009V4.31L6.03 7.03z" fill="currentColor"></path></g></svg>
                </div>
                <div>{{col.key}}</div>
                <div class="w-4 cursor-pointer"
                  :class="[sorts[0] === false && sorts[1] === col ? 'text-red-500' : 'text-gray-400']"
                  @click="sorts = sorts[0] === false && sorts[1] === col ? [] : [false, col]">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20"><g fill="none"><path d="M6.614 3.143a.75.75 0 1 1 .772-1.286c1.347.808 2.34 1.785 2.98 3.135c.63 1.33.884 2.955.884 5.008v5.44l2.72-2.72a.75.75 0 1 1 1.06 1.06l-4 4a.75.75 0 0 1-1.06 0l-4-4a.75.75 0 0 1 1.06-1.06l2.72 2.72V10c0-1.947-.245-3.321-.74-4.366c-.486-1.026-1.243-1.799-2.396-2.49z" fill="currentColor"></path></g></svg>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(row, rowIndex) in realRows">
            <tr class="border-b dark:border-neutral-500" :class="{ hover: clickedRow === row['股票代码'] }" :data-row="row['股票代码']" :key="rowIndex" @click="clickedRow = row['股票代码']">
              <template v-for="col in realColumns">
                <render-block :key="col.key" component="td" :title="row[col.index_name]"
                  class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500 text-ellipsis bg-white"
                  :class="getClasses(col, row)" @mouseover="handleMouseover(col.index_name, row['股票代码'])"
                  :data-row="row['股票代码']" :data-col="col.index_name" :render="renderCell(col, row)"></render-block>
              </template>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</body>
<script>
  const app = new Vue({
    el: '#app',
    data() {
      return {
        neat: false,
        data: [],
        hover: [],
        orderKind: '潜伏',
        clickedRow: null,
        kindOfOrders: {
          '一般': ['索引', '股票代码', '股票简称', '距离历史最高', '距离历史最低', 'a股市值(不含限售股)', '集中度90', '最新股东户数', '最新户均持股市值', '历史最高价前复权', '最新价', '历史最低价前复权', '所属概念', '技术形态', '选股动向', '历史最高价日', '历史最低价日'],
          '潜伏': ['索引', '股票代码', '股票简称', '最新价', '距离历史最高', '距离历史最低', 'a股市值(不含限售股)', '集中度90', '最新股东户数', '最新户均持股市值', '所属概念', '技术形态', '选股动向'],
          '避险': ['索引', '股票代码', '股票简称', '距离历史最高', '距离历史最低', 'a股市值(不含限售股)', '市盈率(pe)', '资产负债率', '股息率', 'PEG'],
        },
        sorts: [],
        columnKeys: [],
      }
    },
    computed: {
      orders() {
        return this.kindOfOrders[this.orderKind]
      },
      columns() {
        return [
          { key: '索引', index_name: '索引', },
          { key: '距离历史最高', index_name: '距离历史最高', },
          { key: '距离历史最低', index_name: '距离历史最低', },
        ].concat(this.data[0]?.data?.answer?.components[0]?.data?.columns || [])
      },
      realColumns() {
        return this.columns.sort(this.cmp.bind(this))
      },
      rows() {
        return this.data.reduce((r, v) => v.checked ? r.concat(v.data.answer.components[0].data.datas) : r, [])
          ?.map((e, i) => {
            if (e) e['索引'] = i + 1
            if (e && e['最新价'] && e['历史最高价前复权']) e['距离历史最高'] = 100 * (e['最新价'] - e['历史最高价前复权']) / Math.abs(e['历史最高价前复权'])
            if (e && e['最新价'] && e['历史最低价前复权']) e['距离历史最低'] = 100 * (e['最新价'] - e['历史最低价前复权']) / Math.abs(e['历史最低价前复权'])
            return e
          })
      },
      realRows() {
        const [flag, col] = this.sorts
        if (this.sorts.length < 2) return this.rows
        return this.rows.map(e => e).sort((a, b) => {
          let r = a[col.key] - b[col.key]
          if (isNaN(r)) r = a[col.key].localeCompare(b[col.key])
          return flag ? r : -r
        })
      },
    },
    filters: {
      convertRadix,
      checkNumber(v) {
        return /^[-0-9][0-9]*(\.[0-9]+)?$/.test('' + v)
      },
    },
    methods: {
      cmp(a, b) {
        const ai = this.orders.indexOf(a.index_name)
        const bi = this.orders.indexOf(b.index_name)
        return (ai === -1 ? Infinity : ai) - (bi === -1 ? Infinity : bi)
      },
      getClasses(col, row) {
        const classes = []
        const indexName = col.index_name
        const value = row[col.key]
        if (row && this.$options.filters.checkNumber(value)) {
          classes.push('text-right')
        }
        switch (col.index_name) {
          case '所属概念':
          case '选股动向':
          case '技术形态':
          case '实际控制人':
          case '所属同花顺行业':
            classes.push('text-left')
            break
          case '最新涨跌幅':
            classes.push(value > 0 ? 'text-red-500' : 'text-green-500')
            break
          case '股票简称':
            classes.push(row['最新涨跌幅'] > 0 ? 'text-red-500' : 'text-green-600')
            break
          case '历史最高价前复权':
          case '历史最低价前复权':
            classes.push('text-gray-300')
            break
        }
        return Object.fromEntries(classes.map(e => [e, true]))
      },
      getCell(value, options = {}) {
        const { separator, width, classes, query, href, indicator, digits, date, percent } = options
        let content = value
        if (separator != null) {
          content = (value || '').split(separator).map(v => this.getCell(v, { ...options, separator: null, width: null, classes: ['mx-1'] }))
        } else {
          let { tag } = options
          const opts = {
            attrs: {},
            class: [].concat(classes || []),
          }
          if (digits != null) {
            content = (+value).toFixed(digits)
          }
          if (percent) {
            content = content + '%'
          }
          if (date) {
            content = `${value}`.replace(/(?<=\d{4})\d{2}/, e => '-' + e + '-')
          }
          if (indicator != null) {
            opts.class.push(indicator > 0 ? 'text-red-500' : 'text-green-600')
          }
          if (href != null) {
            opts.class.push('text-blue-600')
            opts.attrs.href = href.replace(/\${v}/, value)
            opts.attrs.target = '_blank'
            tag = 'a'
          }
          if (tag) {
            content = h(tag, opts, [content])
          } else if (opts.class.length) {
            content = h('span', opts, [content])
          }
        }
        return width != null ? h('div', {
          class: [`${width} overflow-hidden text-ellipsis`],
        }, [content]) : content
      },
      renderCell(col, row) {
        const indexName = col.index_name
        const value = row[col.key]
        const current = row['最新价']
        if (value == null) return ''
        switch (indexName) {
          case '总市值':
          case '总股本':
          case '最新股东户数':
          case 'a股市值(不含限售股)':
          case '最新户均持股数量':
          case '最新户均持股市值':
          case '历史最高价前复权':
          case '历史最低价前复权':
            return convertRadix(value, { base: 10000, fixed: 2 })
          case '最新dde大单净额':
            return this.getCell(convertRadix(value, { base: 10000, fixed: 2 }), { indicator: value })
          case '市盈率(pe)':
            return Math.round(value)
          case '距离历史最高': {
            return [
              this.getCell(row['历史最高价前复权'], { digits: 2, classes: ['mr-1 text-gray-300'] }),
              this.getCell(value, { digits: 2, percent: true, indicator: value }),
            ]
          }
          case '距离历史最低': {
            return [
              this.getCell(row['历史最低价前复权'], { digits: 2, classes: ['mr-1 text-gray-300'] }),
              this.getCell(value, { digits: 2, percent: true, indicator: value }),
            ]
          }
          case '实际控制人':
            return this.getCell(value, { width: 'w-32', href: 'http://www.iwencai.com/unifiedwap/result?w=实际控制人是${v}&querytype=stock' })
          case '历史最高价日':
          case '历史最低价日':
          case '股东人数变动公告日':
          case '新股上市日期':
            return this.getCell(value, { date: true })
          case '最新户均持股比例':
          case '实际控制人持股比例':
          case '最终控制人持股比例':
            return this.getCell(value, { digits: 3, percent: true })
          case '最新涨跌幅':
            return this.getCell(value, { digits: 2, percent: true })
          case '股票代码':
            return this.getCell(value, { href: `http://www.iwencai.com/unifiedwap/result?w=${value}&querytype=stock` })
          case '所属概念':
            return this.getCell(value, { separator: ';', width: 'w-40', href: 'http://www.iwencai.com/unifiedwap/result?w=所属概念是${v}&querytype=stock' })
          case '选股动向':
          case '技术形态':
          case '最终控制人':
          case '实际控制人':
            return this.getCell(value, { separator: '||', width: 'w-40', href: `http://www.iwencai.com/unifiedwap/result?w=${indexName}是\${v}&querytype=stock` })
          case '最终控制人类型':
            return this.getCell(value, { separator: '||', width: 'w-20', href: `http://www.iwencai.com/unifiedwap/result?w=${indexName}是\${v}&querytype=stock` })
          case '所属同花顺行业':
            return this.getCell(value, { separator: '-', href: 'http://www.iwencai.com/unifiedwap/result?w=所属同花顺行业是${v}&querytype=stock' })
          default:
            return value
        }
        return value
      },
      handleInputFile(e) {
        const files = e.target.files
          ;[...files].forEach(file => {
            const fr = new FileReader()
            fr.onload = () => {
              const index = this.data.findIndex(e => e.name === file.name)
              if (index > -1) this.data.splice(index, 1)
              this.data.push({
                name: file.name,
                size: file.size,
                type: file.type,
                checked: true,
                data: JSON.parse(fr.result),
              })
            }
            fr.readAsText(file)
          })
      },
      handleMouseover(col, row) {
        this.hover = [col, row]
      },
    },
    watch: {
      _realColumns: {
        immediate: true,
        handler(v, ov) {
          if (!v) return
          let styles = ''
          for (const col of v) {
            styles += `
              table[data-hover-col="${col.index_name}"] tr td[data-col="${col.index_name}"] {
                background-color: rgb(227, 235, 247);
              }`
          }
          let style = document.getElementById('dynamic-style')
          if (!style) {
            style = document.createElement('style')
            style.id = 'dynamic-style'
            document.head.appendChild(style)
          }
          style.innerHTML = styles
        },
      },
    },
    mounted() {
      this.data = JSON.parse(window.localStorage.getItem('table')) || []
      window.addEventListener('beforeunload', () => {
        window.localStorage.setItem('table', JSON.stringify(this.data))
      })
    },
  })
</script>

</html>
